@font-face {
  font-family: Futura;
  src: url("./Assets/Fonts/futura/Futura Medium Italic font.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Futura;
  src: url("./Assets/Fonts/futura/Futura Bold Italic font.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Futura;
  src: url("./Assets/Fonts/futura/newFont.ttf");
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid #fff;
}

.imagesContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.imagesContainer > a {
  bottom: 0;
  right: 0;
  position: absolute;
  color: #fff;
  font-family: Futura;
  font-size: 12px;
}

.imagesContainer > img:nth-child(1) {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.imagesContainer > img:nth-child(2) {
  width: 100%;
  z-index: 1;
}

.countAdownContainer {
  padding: 38px;
  text-align: center;
  width: 100%;
}

.countAdownContainer > h5 {
  color: #fff;
  font-family: Futura;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}

.countdown,
.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 1.5rem;
}

.countdown > div,
.time > div {
  color: #fff;
  font-family: Futura;
  font-size: 60px;
  font-weight: 700;
  line-height: 100px;
}

.countdown > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown > div > h2 {
  margin: 0px 0px 0.5rem 0px;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time > div > h2 {
  margin: 0px 0px 0.5rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown > div > p:nth-child(2) {
  color: #fff;
  text-align: center;
  font-family: Futura;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

/* @media screen and (min-width: 767px) and (max-width: 1023px) {
  .countAdownContainer {
    padding: 51 25px;
  }

  .countAdownContainer > h5 {
    font-size: 20px;
    line-height: 30px;
  }

  .countdown {
    gap: 15px;
    margin-top: 20px;
  }

  .countdown > div {
    font-size: 36px;
    line-height: 45px;
  }

  .countdown > div > h2 {
    margin: 0;
    height: 60px;
    width: 60px;
  }

  .countdown > div > p:nth-child(2) {
    font-size: 14px;
    line-height: 23px;
  }
}

@media screen and (max-width: 767px) {
  .countAdownContainer {
    padding: 51 25px;
  }

  .countAdownContainer > h5 {
    font-size: 20px;
    line-height: 30px;
  }

  .countdown {
    gap: 15px;
    margin-top: 20px;
  }

  .countdown > div {
    font-size: 36px;
    line-height: 45px;
  }

  .countdown > div > h2 {
    margin: 0;
    height: 60px;
    width: 60px;
  }

  .countdown > div > p:nth-child(2) {
    font-size: 14px;
    line-height: 23px;
  }
} */
